<!--<script type="text/javascript" src="js/polarClock.js"></script>-->
<script src="/bower_components/cafej/src/ext-array.js"></script>
<script src="/bower_components/cafej/src/misc.js"></script>
<script src="/bower_components/cafej/src/micro-observer.js"></script>
<script src="/bower_components/microplugin/src/microplugin.js"></script>
<script src="js/bubble-chart.js"></script>
<script src="js/lines.js"></script>
<script src="js/test-bubble-chart.js"></script>

</head>
<!--<link rel="stylesheet" type="text/css" href="../css/polarClock.css">-->

<div class="projectContainer">
	<div>
		<p class="blurb">
			Developer with 10 years of experience in building intra and internet applications.  Interested in solving problems with good application design. 
		</p>
	</div>
	<div class="bubbleChart"/>
	<section>
		<header class="blurb">
			I have worked on...
		</header>
		<div>
			<div class="projectBlock">
				<div class="projectSquares" style="background-image:url(img/git.png);">
					<a href="http://www.github.com/enatork" target="_blank" style="display:block; width:100%; height:100%;"></a>
				</div>
				<div class="projects-blurb">
					<p>Github of a few things I had to prototype over the years.  If you like to see how I made this site the source is also here.</p>
				</div>
			</div>
			<div class="projectBlock">
				<div class="projectSquares" style="background-image:url(img/Qta.png);">
					<a href="http://www.questia.com" target="_blank" style="display:block; width:100%; height:100%;"></a>
				</div>
				<div class="projects-blurb">
					<p>Rebuilt the Questia product line into an Angular.js single page application from a MVC .Net application.</p>
				</div>
			</div>
			<div class="projectBlock">
				<div class="projectSquares" style="background-image:url(img/frf.png);">
					<a href="http://www.freshrootsfarm.com" target="_blank" style="display:block; width:100%; height:100%;"></a>
				</div>
				<div class="projects-blurb">
					<p>Co-founder and part owner of the first organic farm in Atlanta Georgia. Started 5 years ago, this farm helped kickstart an artist community on the west side of Atlanta.</p>
				</div>
			</div>
			<div class="projectBlock">
				<div class="projectSquares" style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Associated_Press_logo_2012.svg/128px-Associated_Press_logo_2012.svg.png);">
					<a href="http://www.apnews.com" target="_blank" style="display:block; width:100%; height:100%;"></a>
				</div>
				<div class="projects-blurb">
					<p>Built and deployed http://www.apnews.com for the Associated Press</p>
				</div>
			</div>
			<div class="projectBlock">
				<div class="projectSquares">

					<a class="resume" ui-sref="resume" style="display:block; width:100%; height:100%;"><div>Rés<br/>umé</div></a>

				</div>
				<div class="projects-blurb">
					<p>Résumé as a word doc.</p>
				</div>
			</div>
		</div>
	</section>
</div>


	<!--<div class="polarClock">
</div>-->
