<iframe src="pdf/resume.pdf" style="width:100%; height: 100%;"></iframe>
<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<div LANG="en-US" LINK="#0563c1" DIR="LTR" style="padding-bottom:50px; margin-left:20px;">
<DIV>
	<P STYLE="line-height: 100%"><FONT FACE="Adobe Fangsong Std R, serif"><FONT SIZE=6><U><B>Kim
	Van Le		</B></U></FONT></FONT></P>
	<P ALIGN=left STYLE="margin-bottom: 0in; line-height: 100% padding-top:25px;"><A HREF="mailto:kimvan.le@gmail.com"><FONT FACE="Adobe Fangsong Std R, serif"><FONT SIZE=6>kimvan.le@gmail.com</FONT></FONT></A></P>
	<P ALIGN=left STYLE="margin-bottom: 0.46in; line-height: 100%"><FONT FACE="Adobe Fangsong Std R, serif"><FONT SIZE=4>(678)458-1226</FONT></FONT></P>
</DIV>

<P STYLE="margin-bottom: 0.14in"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>Professional
Experience</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT FACE="Cambria, serif"><B>Cengage
Learning								</B></FONT><FONT FACE="Cambria, serif">Jan. 2012 –
Current	                 Chicago, Illinois								Front End Developer</FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Develop
	and maintain user research, writing, and search tools for
	Questia.com and QuestiaSchools.com</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Create
	browser extensions to be used alongside the Questia retail site for
	Firefox and Chrome</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Convert
	code base from base mvc.net application to angular.js SPA</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Develop
	writing tools and guides for users to quickly cite and create term
	papers utilizing web api.net, angular.js, typescript, MVC.Net</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Work
	directly with design team to design and implement features using
	SASS</FONT></P>
</UL>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT FACE="Cambria, serif"><B>Global
Touch Points/Deloitte Consulting					</B></FONT><FONT FACE="Cambria, serif">Oct.
2011 – Dec, 2011                Sacramento,
California								Software Developer</FONT>	</P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Developed
	services for asp.net application to consume for unemployment
	insurance modification software using Microsoft WCF  </FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Built
	the insurance change processor portion of the asp.net application</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Reviewed
	and updated large portions of existing code to .net 4 from 2.0</FONT></P>
</UL>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT FACE="Cambria, serif"><B>Soltech									</B></FONT><FONT FACE="Cambria, serif">Nov.
2010 – July 2011                Atlanta, Georgia								Software
Developer</FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Developed
	an AP and AR application for M3 accounting services</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Established
	real-time reports using SSRS</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Designed
	and created</FONT><FONT COLOR="#404040"> the web component and
	services of the importing and exporting checks module</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Client
	facing for requirements gathering and interviews</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Collaborated
	with clients in house developers for integration with their existing
	systems and legacy code</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Built
	Search functionality for internal AAA parking website.&nbsp; </FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Built
	an asynchronous upload system and external ticketing system</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Became
	proficient in MVC.Net and JQuery usage</FONT></P>
</UL>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT FACE="Cambria, serif"><B>SJM
Design (Contract)							</B></FONT><FONT FACE="Cambria, serif">June
2010 – July 2010              Chicago, Illinois								Lead
Developer</FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Built
	new and modified existing modules to take in part specifications and
	email for per annum for quote submission</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Became
	proficient in .net nuke</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Heavily
	utilized AJAX calls back to the .net server to improve usability</FONT></P>
</UL>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT FACE="Cambria, serif"><B>ReM2									
             	</B></FONT><FONT FACE="Cambria, serif">June. 2008 –
May 2010                Atlanta, Georgia								Software Developer</FONT>	</P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Served
	as lead developer and release manager</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Delegated
	development tasks to other developers</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Built
	an application to register users for travel, activities and
	accommodations</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Utilized
	custom built form generation engine, pipeline architecture, custom
	built container housing reports and user validation</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Conducted
	demos and reviews of new developments and features with clients</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Deployed
	application and subsequent releases to production</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Developed
	and deployed a kiosk application that prints materials, registers
	members and provides reports for an AT&amp;T conference</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Became
	proficient in SVN for versioning</FONT></P>
</UL>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT FACE="Cambria, serif"><B>DiscountCall
(Contract)						              	</B></FONT><FONT FACE="Cambria, serif">Nov.
2007 – Mar. 2008                Atlanta, Georgia								Web
Developer</FONT>	</P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Maintained
	company website </FONT>
	</P>
</UL>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT FACE="Cambria, serif"><B>E-Strategic
Solutions								</B></FONT><FONT FACE="Cambria, serif">June 2006 –
Nov. 2007                Atlanta, Georgia								Web Developer</FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
	<FONT COLOR="#404040">Aided in supporting the 5 man start-up company</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
	<FONT COLOR="#404040">Developed and maintained an </FONT><FONT COLOR="#404040">ecommerce
	application for takeout orders </FONT><FONT COLOR="#404040">for
	local restaurants and Outback steakhouse franchises</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
	<FONT COLOR="#404040">Created templates for designers to be used in
	creating websites</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
	<FONT COLOR="#404040">Trained new designers and data entry personnel
	on system administrative duties</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
	<FONT COLOR="#404040">Assisted lead developer in implementation and
	database maintenance</FONT></P>
	<LI><P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#404040">Created
	and improved internal administration tools</FONT></P>
</UL>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>Other
Projects</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
<FONT FACE="Cambria, serif"><B>Fresh Roots Farm</B></FONT><B>
								</B><FONT FACE="Cambria, serif">2009 – Present</FONT></P>
<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
<FONT FACE="Cambria, serif">Atlanta,
Georgia</FONT>&nbsp;&nbsp;								<FONT FACE="Cambria, serif">Co-Owner/Founder</FONT></P>
<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
<BR>
</P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
<FONT COLOR="#404040">Community farm in Atlanta Georgia:
</FONT><A HREF="http://www.freshrootsfarm.com/"><FONT COLOR="#0000ff">www.freshrootsfarm.com</FONT></A></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>Technical
Skills</B></FONT></FONT></P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%"><A NAME="_GoBack"></A>
<FONT COLOR="#404040">C#, Javascript, AngularJs, JQuery, CSS, T-SQL,
Linq, MVC.net, ASP.Net, Web API, Team Foundation Server, Visual
Studio 2013, SVN, Entity Framework, REST</FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.14in"><FONT FACE="Cambria, serif"><FONT SIZE=4><B>Education</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.17in">
<FONT FACE="Cambria, serif"><B>Georgia State University</B></FONT><FONT FACE="Cambria, serif">
				         Bachelor of Arts in Studio Art and Design </FONT>
</P>
</div>
 -->